In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Preliminary Data Analysis

### Loading the datasets.

In [3]:
# 2021 Dataset

df_21 = pd.read_csv('dataset/PHL-PSA-FIES-2021-PUF/FIES PUF 2021 Vol.1.csv')

# 2023 Dataset

df_23 = pd.read_csv('dataset/PHL-PSA-FIES-2023-V1-PUF/FIES PUF 2023 Volume1.csv')

C:\Users\Chy\AppData\Local\Temp\ipykernel_12444\1626076420.py:7: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df_23 = pd.read_csv('dataset/PHL-PSA-FIES-2023-V1-PUF/FIES PUF 2023 Volume1.csv')

### Data Cleaning

In [4]:
df_21.columns

Index(['W_REGN', 'W_PROV', 'SEQUENCE_NO', 'FSIZE', 'REG_SAL', 'SEASON_SAL',
       'WAGES', 'NETSHARE', 'CASH_ABROAD', 'CASH_DOMESTIC', 'RENTALS_REC',
       'INTEREST', 'PENSION', 'DIVIDENDS', 'OTHER_SOURCE', 'NET_RECEIPT',
       'REGFT', 'NET_CFG', 'NET_LPR', 'NET_FISH', 'NET_FOR', 'NET_RET',
       'NET_MFG', 'NET_TRANS', 'NET_NEC_A8', 'NET_NEC_A9', 'NET_NEC_A10',
       'EAINC', 'TOINC', 'LOSSES', 'BREAD', 'MEAT', 'FISH', 'MILK', 'OIL',
       'FRUIT', 'VEG', 'SUGAR', 'FOOD_NEC', 'FRUIT_VEG', 'COFFEE', 'TEA',
       'COCOA', 'WATER', 'SOFTDRINKS', 'OTHER_NON_ALCOHOL', 'ALCOHOL',
       'TOBACCO', 'OTHER_VEG', 'SERVICES_PRIMARY_GOODS',
       'ALCOHOL_PROCDUCTION_SERVICES', 'FOOD_HOME', 'FOOD_OUTSIDE', 'FOOD',
       'CLOTH', 'FURNISHING', 'HEALTH', 'HOUSING_WATER', 'ACTRENT', 'RENTVAL',
       'IMPUTED_RENT', 'BIMPUTED_RENT', 'TRANSPORT', 'COMMUNICATION',
       'RECREATION', 'EDUCATION', 'INSURANCE', 'MISCELLANEOUS', 'DURABLE',
       'OCCASION', 'OTHER_EXPENDITURE', 'OTHER_DISBURSEMENT',
       'FOOD_ACCOM_SRVC', 'NFOOD', 'TOTEX', 'TOTDIS', 'OTHREC', 'TOREC', 'URB',
       'RPROV', 'RPSU', 'BWEIGHT', 'RFACT', 'RFACT_POP', 'PCINC', 'NPCINC',
       'RPCINC', 'PPCINC'],
      dtype='object')

In [5]:
df_23.columns

Index(['W_REGN', 'W_PROV', 'SEQ_NO', 'RPROV', 'FSIZE', 'REG_SAL', 'SEASON_SAL',
       'WAGES', 'NETSHARE', 'CASH_ABROAD', 'CASH_DOMESTIC', 'RENTALS_REC',
       'INTEREST', 'PENSION', 'DIVIDENDS', 'OTHER_SOURCE', 'NET_RECEIPT',
       'REGFT', 'NET_CFG', 'NET_LPR', 'NET_FISH', 'NET_FOR', 'NET_RET',
       'NET_MFG', 'NET_TRANS', 'NET_NEC_A8', 'NET_NEC_A9', 'NET_NEC_A10',
       'EAINC', 'LOSSES', 'BREAD', 'MEAT', 'FISH', 'MILK', 'OIL', 'FRUIT',
       'VEG', 'SUGAR', 'FOOD_NEC', 'FRUIT_VEG', 'COFFEE', 'TEA', 'COCOA',
       'WATER', 'SOFTDRINKS', 'OTHER_NON_ALCOHOL', 'ALCOHOL', 'TOBACCO',
       'OTHER_VEG', 'SERVICES_PRIMARY_GOODS', 'ALCOHOL_PROCDUCTION_SERVICES',
       'FOOD_HOME', 'FOOD_OUTSIDE', 'FOOD', 'CLOTH', 'HOUSING_WATER',
       'ACTRENT', 'IMPUTED_RENT', 'BIMPUTED_RENT', 'RENTVAL', 'FURNISHING',
       'HEALTH', 'TRANSPORT', 'COMMUNICATION', 'RECREATION', 'EDUCATION',
       'INSURANCE', 'MISCELLANEOUS', 'DURABLE', 'OCCASION',
       'OTHER_EXPENDITURE', 'OTHER_DISBURSEMENT', 'FOOD_ACCOM_SRVC', 'NFOOD',
       'TOINC', 'TOTEX', 'TOTDIS', 'OTHREC', 'TOREC', 'RPSU', 'RFACT',
       'MEM_RFACT', 'URB', 'PERCAPITA', 'NPCINC', 'RPCINC', 'PRPCINC',
       'PPCINC', 'RPCINC_NIR', 'W_REGN_NIR'],
      dtype='object')

In [6]:
# Since there are discrepancies between the 2021 and 2023 dataset. We will follow the better described columns between the two datasets.
# For example, the SEQUENCE_NO in the 2021 dataset is described as "Sequence No." while in the 2023 dataset it is described as "Household ID"

df_21.rename(columns={'SEQUENCE_NO': 'SEQ_NO'}, inplace=True)

In [7]:
# Since `BWEIGHT` does not exist in the 2023 dataset, we will drop it from the 2021 dataset to retain consistency.

df_21.drop(columns=['BWEIGHT'], inplace=True)

In [8]:
df_21.rename(columns={'RFACT': 'FAMILY_WEIGHT'}, inplace=True)
df_23.rename(columns={'RFACT': 'FAMILY_WEIGHT'}, inplace=True)

In [9]:
df_21.rename(columns={'RFACT_POP': 'POPULATION_WEIGHT'}, inplace=True)
df_23.rename(columns={'MEM_RFACT': 'POPULATION_WEIGHT'}, inplace=True)

In [10]:
df_23.rename(columns={'PERCAPITA': 'PCINC'}, inplace=True)
df_23.drop(columns=['PPCINC'], inplace=True)
df_23.rename(columns={'PRPCINC': 'PPCINC'}, inplace=True)

In [11]:
df_23.drop(columns=['RPCINC'], inplace=True)
df_23.rename(columns={'RPCINC_NIR': 'RPCINC'}, inplace=True)

In [12]:
df_23.drop(columns=['W_REGN'], inplace=True)
df_23.rename(columns={'W_REGN_NIR': 'W_REGN'}, inplace=True)

In [33]:
df_21.rename(columns={'FSIZE': 'AVG_FSIZE'}, inplace=True)
df_23.rename(columns={'FSIZE': 'AVG_FSIZE'}, inplace=True)

In [34]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165029 entries, 0 to 165028
Data columns (total 87 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   W_REGN                        165029 non-null  int64
 1   W_PROV                        165029 non-null  int64
 2   SEQ_NO                        165029 non-null  int64
 3   AVG_FSIZE                     165029 non-null  float64
 4   REG_SAL                       165029 non-null  int64
 5   SEASON_SAL                    165029 non-null  int64
 6   WAGES                         165029 non-null  int64
 7   NETSHARE                      165029 non-null  int64
 8   CASH_ABROAD                   165029 non-null  int64
 9   CASH_DOMESTIC                 165029 non-null  int64
 10  RENTALS_REC                   165029 non-null  int64
 11  INTEREST                      165029 non-null  int64
 12  PENSION                       165029 non-null  int64
 13  DIVIDENDS                     165029 non-null  int64
 14  OTHER_SOURCE                  165029 non-null  int64
 15  NET_RECEIPT                   165029 non-null  int64
 16  REGFT                         165029 non-null  int64
 17  NET_CFG                       165029 non-null  int64
 18  NET_LPR                       165029 non-null  int64
 19  NET_FISH                      165029 non-null  int64
 20  NET_FOR                       165029 non-null  int64
 21  NET_RET                       165029 non-null  int64
 22  NET_MFG                       165029 non-null  int64
 23  NET_TRANS                     165029 non-null  int64
 24  NET_NEC_A8                    165029 non-null  int64
 25  NET_NEC_A9                    165029 non-null  int64
 26  NET_NEC_A10                   165029 non-null  int64
 27  EAINC                         165029 non-null  int64
 28  TOINC                         165029 non-null  int64
 29  LOSSES                        165029 non-null  int64
 30  BREAD                         165029 non-null  int64
 31  MEAT                          165029 non-null  int64
 32  FISH                          165029 non-null  int64
 33  MILK                          165029 non-null  int64
 34  OIL                           165029 non-null  int64
 35  FRUIT                         165029 non-null  int64
 36  VEG                           165029 non-null  int64
 37  SUGAR                         165029 non-null  int64
 38  FOOD_NEC                      165029 non-null  int64
 39  FRUIT_VEG                     165029 non-null  int64
 40  COFFEE                        165029 non-null  int64
 41  TEA                           165029 non-null  int64
 42  COCOA                         165029 non-null  int64
 43  WATER                         165029 non-null  int64
 44  SOFTDRINKS                    165029 non-null  int64
 45  OTHER_NON_ALCOHOL             165029 non-null  int64
 46  ALCOHOL                       165029 non-null  int64
 47  TOBACCO                       165029 non-null  int64
 48  OTHER_VEG                     165029 non-null  int64
 49  SERVICES_PRIMARY_GOODS        165029 non-null  int64
 50  ALCOHOL_PROCDUCTION_SERVICES  165029 non-null  int64
 51  FOOD_HOME                     165029 non-null  int64
 52  FOOD_OUTSIDE                  165029 non-null  int64
 53  FOOD                          165029 non-null  int64
 54  CLOTH                         165029 non-null  int64
 55  FURNISHING                    165029 non-null  int64
 56  HEALTH                        165029 non-null  int64
 57  HOUSING_WATER                 165029 non-null  int64
 58  ACTRENT                       165029 non-null  int64
 59  RENTVAL                       165029 non-null  int64
 60  IMPUTED_RENT                  165029 non-null  int64
 61  BIMPUTED_RENT                 165029 non-null  int64
 62  TRANSPORT                     165029 non-null  int64
 63  COMMUNICATION                 165029 non-null  int64
 64  RECREATION                    165029 non-null  int64
 65  EDUCATION                     165029 non-null  int64
 66  INSURANCE                     165029 non-null  int64
 67  MISCELLANEOUS                 165029 non-null  int64
 68  DURABLE                       165029 non-null  int64
 69  OCCASION                      165029 non-null  int64
 70  OTHER_EXPENDITURE             165029 non-null  int64
 71  OTHER_DISBURSEMENT            165029 non-null  int64
 72  FOOD_ACCOM_SRVC               165029 non-null  int64
 73  NFOOD                         165029 non-null  int64
 74  TOTEX                         165029 non-null  int64
 75  TOTDIS                        165029 non-null  int64
 76  OTHREC                        165029 non-null  int64
 77  TOREC                         165029 non-null  int64
 78  URB                           165029 non-null  int64
 79  RPROV                         165029 non-null  int64
 80  RPSU                          165029 non-null  int64
 81  FAMILY_WEIGHT                 165029 non-null  float64
 82  POPULATION_WEIGHT             165029 non-null  float64
 83  PCINC                         165029 non-null  float64
 84  NPCINC                        165029 non-null  float64
 85  RPCINC                        165029 non-null  float64
 86  PPCINC                        165029 non-null  float64
dtypes: float64(7), int64(80)
memory usage: 109.5 MB

In [31]:
df_21.sample(10)

,W_REGN,W_PROV,SEQ_NO,FSIZE,REG_SAL,SEASON_SAL,WAGES,NETSHARE,CASH_ABROAD,CASH_DOMESTIC,...,TOREC,URB,RPROV,RPSU,FAMILY_WEIGHT,POPULATION_WEIGHT,PCINC,NPCINC,RPCINC,PPCINC
138086,14,44,138087,3.00,0,40000,40000,0,0,0,...,561185,2,4400,149,22.57,23.52,165395.00,10.00,9.00,10.00
125455,13,76,125456,6.00,513000,400000,913000,0,60000,0,...,1267450,1,7603,382,74.44,67.14,211241.67,10.00,9.00,10.00
114083,13,74,114084,5.00,660000,0,660000,0,0,65000,...,725256,1,7403,49,119.19,120.09,145051.20,9.00,8.00,8.00
108187,12,98,108188,4.00,0,124800,124800,0,26000,0,...,189955,1,9804,31,46.34,51.36,47488.75,4.00,6.00,6.00
98396,11,82,98397,4.00,16800,0,16800,0,0,11700,...,89772,1,8200,160,112.38,114.73,22443.00,1.00,1.00,2.00
55023,7,12,55024,5.00,125400,52800,178200,0,0,0,...,210149,2,1200,1170,170.66,173.08,42029.80,4.00,4.00,5.00
97951,11,82,97952,5.00,74000,0,74000,0,0,0,...,144707,1,8200,334,106.38,108.61,25541.40,1.00,1.00,2.00
106490,12,65,106491,3.50,0,7200,7200,0,0,8000,...,67550,2,6500,635,164.29,170.57,19300.00,1.00,1.00,2.00
117036,13,75,117037,2.00,11700,37405,49105,0,12000,6000,...,159025,1,7501,252,284.83,291.79,54512.50,5.00,2.00,3.00
120752,13,75,120753,7.50,174772,0,174772,0,0,31400,...,284172,1,7504,125,154.93,148.97,37889.60,3.00,1.00,1.00

In [42]:
# To avoid scientific notation formatting
pd.set_option('display.float_format', '{:.2f}'.format)

df_21.describe()

,W_REGN,W_PROV,SEQ_NO,AVG_FSIZE,REG_SAL,SEASON_SAL,WAGES,NETSHARE,CASH_ABROAD,CASH_DOMESTIC,...,TOREC,URB,RPROV,RPSU,FAMILY_WEIGHT,POPULATION_WEIGHT,PCINC,NPCINC,RPCINC,PPCINC
count,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,...,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00,165029.00
mean,9.27,45.66,82515.00,4.24,125300.56,25109.55,150410.11,1808.75,20017.54,16718.44,...,308397.95,1.52,4568.17,386.17,159.96,157.99,81850.92,5.29,5.53,5.49
std,4.70,24.89,47639.91,2.03,205360.38,47930.15,207443.14,14886.86,77520.00,31501.17,...,369101.24,0.50,2488.66,448.86,153.63,149.12,101006.56,2.90,2.88,2.87
min,1.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,...,10374.00,1.00,100.00,1.00,4.86,5.30,5408.62,1.00,1.00,1.00
25%,5.00,24.00,41258.00,3.00,0.00,0.00,21600.00,0.00,0.00,0.00,...,142900.00,1.00,2402.00,102.00,65.90,65.40,35403.00,3.00,3.00,3.00
50%,10.00,45.00,82515.00,4.00,56000.00,0.00,93000.00,0.00,0.00,8000.00,...,216980.00,2.00,4501.00,239.00,110.72,109.51,55432.00,5.00,6.00,5.00
75%,13.00,70.00,123772.00,5.50,165400.00,36000.00,191900.00,0.00,2000.00,21600.00,...,353216.00,2.00,7000.00,478.00,186.29,186.52,94000.00,8.00,8.00,8.00
max,17.00,98.00,165029.00,23.00,6821000.00,4290000.00,6821000.00,3901650.00,5130000.00,3000000.00,...,20736058.00,2.00,9804.00,3086.00,3950.61,4029.51,9691285.00,10.00,10.00,10.00

In [14]:
df_21.columns

Index(['W_REGN', 'W_PROV', 'SEQ_NO', 'FSIZE', 'REG_SAL', 'SEASON_SAL', 'WAGES',
       'NETSHARE', 'CASH_ABROAD', 'CASH_DOMESTIC', 'RENTALS_REC', 'INTEREST',
       'PENSION', 'DIVIDENDS', 'OTHER_SOURCE', 'NET_RECEIPT', 'REGFT',
       'NET_CFG', 'NET_LPR', 'NET_FISH', 'NET_FOR', 'NET_RET', 'NET_MFG',
       'NET_TRANS', 'NET_NEC_A8', 'NET_NEC_A9', 'NET_NEC_A10', 'EAINC',
       'TOINC', 'LOSSES', 'BREAD', 'MEAT', 'FISH', 'MILK', 'OIL', 'FRUIT',
       'VEG', 'SUGAR', 'FOOD_NEC', 'FRUIT_VEG', 'COFFEE', 'TEA', 'COCOA',
       'WATER', 'SOFTDRINKS', 'OTHER_NON_ALCOHOL', 'ALCOHOL', 'TOBACCO',
       'OTHER_VEG', 'SERVICES_PRIMARY_GOODS', 'ALCOHOL_PROCDUCTION_SERVICES',
       'FOOD_HOME', 'FOOD_OUTSIDE', 'FOOD', 'CLOTH', 'FURNISHING', 'HEALTH',
       'HOUSING_WATER', 'ACTRENT', 'RENTVAL', 'IMPUTED_RENT', 'BIMPUTED_RENT',
       'TRANSPORT', 'COMMUNICATION', 'RECREATION', 'EDUCATION', 'INSURANCE',
       'MISCELLANEOUS', 'DURABLE', 'OCCASION', 'OTHER_EXPENDITURE',
       'OTHER_DISBURSEMENT', 'FOOD_ACCOM_SRVC', 'NFOOD', 'TOTEX', 'TOTDIS',
       'OTHREC', 'TOREC', 'URB', 'RPROV', 'RPSU', 'FAMILY_WEIGHT',
       'POPULATION_WEIGHT', 'PCINC', 'NPCINC', 'RPCINC', 'PPCINC'],
      dtype='object')

In [15]:
df_23.columns

Index(['W_PROV', 'SEQ_NO', 'RPROV', 'FSIZE', 'REG_SAL', 'SEASON_SAL', 'WAGES',
       'NETSHARE', 'CASH_ABROAD', 'CASH_DOMESTIC', 'RENTALS_REC', 'INTEREST',
       'PENSION', 'DIVIDENDS', 'OTHER_SOURCE', 'NET_RECEIPT', 'REGFT',
       'NET_CFG', 'NET_LPR', 'NET_FISH', 'NET_FOR', 'NET_RET', 'NET_MFG',
       'NET_TRANS', 'NET_NEC_A8', 'NET_NEC_A9', 'NET_NEC_A10', 'EAINC',
       'LOSSES', 'BREAD', 'MEAT', 'FISH', 'MILK', 'OIL', 'FRUIT', 'VEG',
       'SUGAR', 'FOOD_NEC', 'FRUIT_VEG', 'COFFEE', 'TEA', 'COCOA', 'WATER',
       'SOFTDRINKS', 'OTHER_NON_ALCOHOL', 'ALCOHOL', 'TOBACCO', 'OTHER_VEG',
       'SERVICES_PRIMARY_GOODS', 'ALCOHOL_PROCDUCTION_SERVICES', 'FOOD_HOME',
       'FOOD_OUTSIDE', 'FOOD', 'CLOTH', 'HOUSING_WATER', 'ACTRENT',
       'IMPUTED_RENT', 'BIMPUTED_RENT', 'RENTVAL', 'FURNISHING', 'HEALTH',
       'TRANSPORT', 'COMMUNICATION', 'RECREATION', 'EDUCATION', 'INSURANCE',
       'MISCELLANEOUS', 'DURABLE', 'OCCASION', 'OTHER_EXPENDITURE',
       'OTHER_DISBURSEMENT', 'FOOD_ACCOM_SRVC', 'NFOOD', 'TOINC', 'TOTEX',
       'TOTDIS', 'OTHREC', 'TOREC', 'RPSU', 'FAMILY_WEIGHT',
       'POPULATION_WEIGHT', 'URB', 'PCINC', 'NPCINC', 'PPCINC', 'RPCINC',
       'W_REGN'],
      dtype='object')

In [16]:
df_23.shape[1]

87

In [17]:
df_21.shape[1]

87

In [18]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165029 entries, 0 to 165028
Data columns (total 87 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   W_REGN                        165029 non-null  int64
 1   W_PROV                        165029 non-null  int64
 2   SEQ_NO                        165029 non-null  int64
 3   FSIZE                         165029 non-null  float64
 4   REG_SAL                       165029 non-null  int64
 5   SEASON_SAL                    165029 non-null  int64
 6   WAGES                         165029 non-null  int64
 7   NETSHARE                      165029 non-null  int64
 8   CASH_ABROAD                   165029 non-null  int64
 9   CASH_DOMESTIC                 165029 non-null  int64
 10  RENTALS_REC                   165029 non-null  int64
 11  INTEREST                      165029 non-null  int64
 12  PENSION                       165029 non-null  int64
 13  DIVIDENDS                     165029 non-null  int64
 14  OTHER_SOURCE                  165029 non-null  int64
 15  NET_RECEIPT                   165029 non-null  int64
 16  REGFT                         165029 non-null  int64
 17  NET_CFG                       165029 non-null  int64
 18  NET_LPR                       165029 non-null  int64
 19  NET_FISH                      165029 non-null  int64
 20  NET_FOR                       165029 non-null  int64
 21  NET_RET                       165029 non-null  int64
 22  NET_MFG                       165029 non-null  int64
 23  NET_TRANS                     165029 non-null  int64
 24  NET_NEC_A8                    165029 non-null  int64
 25  NET_NEC_A9                    165029 non-null  int64
 26  NET_NEC_A10                   165029 non-null  int64
 27  EAINC                         165029 non-null  int64
 28  TOINC                         165029 non-null  int64
 29  LOSSES                        165029 non-null  int64
 30  BREAD                         165029 non-null  int64
 31  MEAT                          165029 non-null  int64
 32  FISH                          165029 non-null  int64
 33  MILK                          165029 non-null  int64
 34  OIL                           165029 non-null  int64
 35  FRUIT                         165029 non-null  int64
 36  VEG                           165029 non-null  int64
 37  SUGAR                         165029 non-null  int64
 38  FOOD_NEC                      165029 non-null  int64
 39  FRUIT_VEG                     165029 non-null  int64
 40  COFFEE                        165029 non-null  int64
 41  TEA                           165029 non-null  int64
 42  COCOA                         165029 non-null  int64
 43  WATER                         165029 non-null  int64
 44  SOFTDRINKS                    165029 non-null  int64
 45  OTHER_NON_ALCOHOL             165029 non-null  int64
 46  ALCOHOL                       165029 non-null  int64
 47  TOBACCO                       165029 non-null  int64
 48  OTHER_VEG                     165029 non-null  int64
 49  SERVICES_PRIMARY_GOODS        165029 non-null  int64
 50  ALCOHOL_PROCDUCTION_SERVICES  165029 non-null  int64
 51  FOOD_HOME                     165029 non-null  int64
 52  FOOD_OUTSIDE                  165029 non-null  int64
 53  FOOD                          165029 non-null  int64
 54  CLOTH                         165029 non-null  int64
 55  FURNISHING                    165029 non-null  int64
 56  HEALTH                        165029 non-null  int64
 57  HOUSING_WATER                 165029 non-null  int64
 58  ACTRENT                       165029 non-null  int64
 59  RENTVAL                       165029 non-null  int64
 60  IMPUTED_RENT                  165029 non-null  int64
 61  BIMPUTED_RENT                 165029 non-null  int64
 62  TRANSPORT                     165029 non-null  int64
 63  COMMUNICATION                 165029 non-null  int64
 64  RECREATION                    165029 non-null  int64
 65  EDUCATION                     165029 non-null  int64
 66  INSURANCE                     165029 non-null  int64
 67  MISCELLANEOUS                 165029 non-null  int64
 68  DURABLE                       165029 non-null  int64
 69  OCCASION                      165029 non-null  int64
 70  OTHER_EXPENDITURE             165029 non-null  int64
 71  OTHER_DISBURSEMENT            165029 non-null  int64
 72  FOOD_ACCOM_SRVC               165029 non-null  int64
 73  NFOOD                         165029 non-null  int64
 74  TOTEX                         165029 non-null  int64
 75  TOTDIS                        165029 non-null  int64
 76  OTHREC                        165029 non-null  int64
 77  TOREC                         165029 non-null  int64
 78  URB                           165029 non-null  int64
 79  RPROV                         165029 non-null  int64
 80  RPSU                          165029 non-null  int64
 81  FAMILY_WEIGHT                 165029 non-null  float64
 82  POPULATION_WEIGHT             165029 non-null  float64
 83  PCINC                         165029 non-null  float64
 84  NPCINC                        165029 non-null  float64
 85  RPCINC                        165029 non-null  float64
 86  PPCINC                        165029 non-null  float64
dtypes: float64(7), int64(80)
memory usage: 109.5 MB

### Checking for missing values

In [19]:
# Result should be 17 since there are 17 regions in the Philippines
df_21["W_REGN"].nunique()

17

In [20]:
# Result should be 82 since there are 82 provinces in the Philippines. 38 in Luzon, 27 in the Visayas and 17 in Mindanao.
df_21["W_PROV"].nunique()

87

In [46]:
# Override pandas display function
pd.options.display.min_rows = 87
df_21.isnull().sum()

W_REGN               0
W_PROV               0
SEQ_NO               0
AVG_FSIZE            0
REG_SAL              0
                    ..
POPULATION_WEIGHT    0
PCINC                0
NPCINC               0
RPCINC               0
PPCINC               0
Length: 87, dtype: int64

## Preliminary Findings (Summary Statistics)

### Statistics about the `FSIZE` (Family Size)

In [21]:
# Statistics about `FSIZE`
df_21['FSIZE'].describe()

count    165029.000000
mean          4.244409
std           2.029229
min           1.000000
25%           3.000000
50%           4.000000
75%           5.500000
max          23.000000
Name: FSIZE, dtype: float64

### Statistics about the `REG_SAL` (Regular Salary)

In [22]:
# Statistics about `REG_SAL`

df_21['REG_SAL'].describe()

count    1.650290e+05
mean     1.253006e+05
std      2.053604e+05
min      0.000000e+00
25%      0.000000e+00
50%      5.600000e+04
75%      1.654000e+05
max      6.821000e+06
Name: REG_SAL, dtype: float64

### Statistics about `PCINC` (Per Capita Income)

In [23]:
# Statistics about `PCINC`
df_21['PCINC'].describe()

count    1.650290e+05
mean     8.185092e+04
std      1.010066e+05
min      5.408625e+03
25%      3.540300e+04
50%      5.543200e+04
75%      9.400000e+04
max      9.691285e+06
Name: PCINC, dtype: float64